.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin-bottom: 1%;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 1%;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 2%;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}
